ul {
  list-style: none;
}
/* змінні */
:root {
  --p-textcolor: #757575;
  --main-textcolor: #212121;
  --active-color: #2196f3;
}
.body {
  font-family: Roboto;
  line-height: 1.7;
  width: 1600px;
}
header {
  display: inline-flex;
  background-color: #ffffff;
  width: 1600px;
}
a {
  text-decoration: none;
}
/* стилі логотипа */
.logo-style {
  margin-block-start: left;
  margin-top: 14px;
  width: 145px;
  height: 31px;
  margin-left: 215px;
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}
.logo-style1 {
  color: var(--active-color);
}
.logo-style2 {
  color: var(--main-textcolor);
}
/* навігація хедера */
.studio-style {
  margin-top: 32px;
  margin-left: 93px;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--main-textcolor);
}
.studio-style:hover,
.studio-style:focus {
  color: var(--active-color);
}
.portfolio-style {
  margin-top: 32px;
  margin-left: 50px;
  color: var(--main-textcolor);
}
.portfolio-style:hover,
.portfolio-style:focus {
  color: var(--active-color);
}
.contact-style {
  margin-top: 32px;
  margin-left: 50px;
  color: var(--main-textcolor);
}
.contact-style:hover,
.contact-style:focus {
  color: var(--active-color);
}
.navigation {
  display: inline-flex;
}
.contact {
  display: inline-flex;
  padding: 0;
}
.nav-link {
  display: inline-flex;
  padding: 0;
}
.mailto {
  margin-top: 32px;
  margin-left: 331px;
  color: var(--p-textcolor);
}
.mailto:hover,
.mailto:focus {
  color: var(--active-color);
}
.phone {
  margin-top: 32px;
  margin-left: 50px;
  color: var(--p-textcolor);
}
.phone:hover,
.phone:focus {
  color: var(--active-color);
}
/* стилі банера-героя */
.hero-styles {
  width: 1600px;
  height: 600px;
  padding-top: 80px;
  background: #2f303a;
}
.herotext-styles {
  width: 696px;
  height: 120px;
  padding-left: 452px;
  margin-top: 200px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
}
.hero-button {
  position: absolute;
  width: 200px;
  height: 50px;
  left: 700px;
  background-color: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: #ffffff;
  cursor: pointer;
}
/* наші переваги */
.our-skils {
}
.h3skil {
  margin: 0;
}
.ourskils-h2 {
  color: transparent;
  display: inline;
}
.skils-list {
  display: flex;
  color: var(--main-textcolor);
  padding: 0;
  margin-top: 66px;
}
.skils-desc {
  width: 270px;
  height: 75px;
  color: var(--p-textcolor);
  margin-top: 10px;
}
.skil1 {
  margin-left: 215px;
}
.skil2 {
  margin-left: 30px;
}
.skil3 {
  margin-left: 30px;
}
.skil4 {
  margin-left: 30px;
}
/* чим займаймося */
.what-doing {
  display: block;
  margin: 0px;
  margin-top: 94px;
  margin-left: 612px;
  color: var(--main-textcolor);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  letter-spacing: 0.03em;
}
.doing-img {
  display: flex;
  padding: 0;
  margin: 0;
}
.doingimg1 {
  margin-left: 215px;
  margin-top: 50px;
}
.doingimg2 {
  margin-left: 30px;
  margin-top: 50px;
}
.doingimg3 {
  margin-left: 30px;
  margin-top: 50px;
}
/* наша команда */
.team-section {
  margin: 0;
  margin-top: 94px;
  background: #f5f4fa;
  width: 1600px;
  height: 648px;
}
.ourteam-title {
  color: var(--main-textcolor);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  margin: 0px;
  padding: 0;
  padding-left: 668px;
  padding-top: 94px;
}
.team-list {
  display: flex;
  padding: 0;
  margin: 0;
}
.team1 {
  margin: 0;
  margin-left: 215px;
  margin-top: 50px;
  width: 270px;
  height: 368px;
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.team2 {
  margin-left: 30px;
  margin-top: 50px;
  width: 270px;
  height: 368px;
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.team3 {
  margin-left: 30px;
  margin-top: 50px;
  width: 270px;
  height: 368px;
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.team4 {
  margin-left: 30px;
  margin-top: 50px;
  width: 270px;
  height: 368px;
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.team-h3 {
  text-align: center;
  margin: 0;
  padding: 0;
  margin-top: 20px;
  margin-bottom: 5px;
}
.team-p {
  text-align: center;
  margin: 0;
}
/* футер */
footer {
  margin: 0;
  background-color: #000000;
  width: 1600px;
  height: 252px;
}
.footerlogo-style {
  display: inline-block;
  width: 145px;
  height: 31px;
  margin-left: 215px;
  margin-top: 60px;
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
}
.footerlogo-style1 {
  color: var(--active-color);
}
.footerlogo-style2 {
  color: #ffffff;
}
/* футер адрес */
.footer-adress {
  display: block;
  margin-top: 20px;
  margin-left: 215px;
  padding: 0;
}
.footer-adresstext {
  width: 231px;
  height: 21px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #ffffff;
}
.footermail {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.footermail:hover,
.footermail:focus {
  color: #ffffff;
}
.footerphone {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.footerphone:hover,
.footerphone:focus {
  color: #ffffff;
}

/* сторінка портфоліо */

.body-portfolio {
}
.portfolio-main {
  width: 1600px;
}

.portfolio-h1 {
  color: transparent;
  display: inline;

  /* кнопки */
}
.button-list {
  display: flex;
  padding: 0;
  margin: 0;
}
.button1-text {
  color: var(--main-textcolor);
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  cursor: pointer;
}
.button1-text:hover,
.button1-text:focus {
  color: #ffffff;
}
.button2-text {
  color: var(--main-textcolor);
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  cursor: pointer;
}
.button2-text:hover,
.button2-text:focus {
  color: #ffffff;
}
.button3-text {
  color: var(--main-textcolor);
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  cursor: pointer;
}
.button3-text:hover,
.button3-text:focus {
  color: #ffffff;
}
.button4-text {
  color: var(--main-textcolor);
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  cursor: pointer;
}
.button4-text:hover,
.button4-text:focus {
  color: #ffffff;
}
.button5-text {
  color: var(--main-textcolor);
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  cursor: pointer;
}
.button5-text:hover,
.button5-text:focus {
  color: #ffffff;
}
.button1 {
  width: 73px;
  height: 38px;
  background: #f5f4fa;
  border-radius: 4px;
  margin-left: 495px;
  margin-top: 94px;
}
.button1:hover,
.button1:focus {
  background: #2196f3;
  color: #ffffff;
}
.button2 {
  width: 128px;
  height: 38px;
  background: #f5f4fa;
  border-radius: 4px;
  margin-left: 8px;
  margin-top: 94px;
}
.button2:hover,
.button2:focus {
  background: #2196f3;
  color: #ffffff;
}
.button3 {
  width: 145px;
  height: 38px;
  background: #f5f4fa;
  border-radius: 4px;
  margin-left: 8px;
  margin-top: 94px;
}
.button3:hover,
.button3:focus {
  background: #2196f3;
  color: #ffffff;
}
.button4 {
  width: 103px;
  height: 38px;
  background: #f5f4fa;
  border-radius: 4px;
  margin-left: 8px;
  margin-top: 94px;
}
.button4:hover,
.button4:focus {
  background: #2196f3;
  color: #ffffff;
}
.button5 {
  width: 130px;
  height: 38px;
  background: #f5f4fa;
  border-radius: 4px;
  margin-left: 8px;
  margin-top: 94px;
}
.button5:hover,
.button5:focus {
  background: #2196f3;
  color: #ffffff;
}

/* плитка портфоліо */
.company-name {
  margin: 0;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--main-textcolor);
}
.company-type {
  margin: 0;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: var(--p-textcolor);
}
.first-line {
  display: flex;
}
.second-line {
  display: flex;
}
.third-line {
  display: flex;
}

.portfolio-item1 {
  width: 370px;
  height: 404px;
  background: #ffffff;
  border: 1px solid #eeeeee;
  margin-left: 215px;
  margin-top: 50px;
}
.portfolio-item2 {
  width: 370px;
  height: 404px;
  background: #ffffff;
  border: 1px solid #eeeeee;
  margin-left: 30px;
  margin-top: 50px;
}
.portfolio-item3 {
  width: 370px;
  height: 404px;
  background: #ffffff;
  border: 1px solid #eeeeee;
  margin-left: 215px;
  margin-top: 30px;
}
.portfolio-item4 {
  width: 370px;
  height: 404px;
  background: #ffffff;
  border: 1px solid #eeeeee;
  margin-left: 30px;
  margin-top: 30px;
}
.company-name.img {
  margin: 0;
  padding: 0;
  padding-left: 24px;
  padding-top: 20px;
}
.company-type.img {
  margin: 0;
  padding: 0;
  padding-left: 24px;
  padding-top: 4px;
}
.portfolio-list {
  margin: 0;
  padding: 0;
  width: 1600px;
}
